
<!--************************************
        Footer Start
*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-fourcolumns">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-footercolumn tg-widget tg-widgettext">
                        <div class="tg-widgettitle">
                            <h3>About</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <div class="tg-description">
                                <p>All Places are Beautifull</p>
                            </div>
                            <span>+92-1234567890</span>
                            <a href="mailto:info@ab.com">info@ab.com</a>
                            <ul class="tg-socialicons tg-socialiconsvtwo">
                                <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-footercolumn tg-widget tg-widgettravelunews">
                        <div class="tg-widgettitle">
                            <h3>New Places</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li>
                                    <figure>
                                        <a href="javascript:void(0);"><img src="~/Content/images/thumbnail/img-01.jpg" alt="image destinations"></a>
                                    </figure>
                                    <div class="tg-newcontent">
                                        <h4><a href="javascript:void(0);">Naran Kaghan Hill Climbing</a></h4>
                                        <div class="tg-description">
                                            <p>Enjoy your climbing in Naran</p>
                                        </div>
                                        
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="javascript:void(0);"><img src="~/Content/images/thumbnail/img-02.jpg" alt="image destinations"></a>
                                    </figure>
                                    <div class="tg-newcontent">
                                        <h4><a href="javascript:void(0);">Trip to Rhine Falls</a></h4>
                                        <div class="tg-description">
                                            <p>Get a trip of big Fall beauty</p>
                                        </div>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-footercolumn tg-widget tg-widgetdestinations">
                        <div class="tg-widgettitle">
                            <h3>Top Destinations</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li><a href="javascript:void(0);">Pakistan</a></li>
                                <li><a href="javascript:void(0);">Paris</a></li>
                                <li><a href="javascript:void(0);">Switzeland</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="tg-footercolumn tg-widget tg-widgetnewsletter">
                        <div class="tg-widgettitle">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <div class="tg-description"><p>Abc road Korangi</p></div>
                            <div class="tg-description"><p>Karachi</p></div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2018  All  rights reserved to Afzal and Aliyan</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->
