@Html.Partial("_loader_nav")
<!--************************************
                Inner Banner Start
        *************************************-->
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../Content/images/parallax/about.jpg">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>About Us</h1>
                    <h2>About See Scroll down</h2>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Features Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout" style="padding-bottom:80px;">
        <div class="container">
            <div class="row">
             
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-feature">
                            <div class="tg-featuretitle">
                                <h2><span>01</span><a href="javascript:void(0);">Luxury Hotels</a></h2>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-feature">
                            <div class="tg-featuretitle">
                                <h2><span>02</span><a href="javascript:void(0);">Tourist Guide</a></h2>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="tg-feature">
                            <div class="tg-featuretitle">
                                <h2><span>03</span><a href="javascript:void(0);">Flights Tickets</a></h2>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
                            </div>
                        </div>
                    </div>
                   
               
              
            </div>
        </div>
    </section>
    <!--************************************
            Features End
    *************************************-->

    
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-aboutus">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <figure data-vide-bg="poster: ../Content/images/about/img-02.jpg" data-vide-options="position: 0% 50%"></figure>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="tg-textbox">
                    <div class="tg-sectiontitle">
                        <h2>A Little About Us</h2>
                    </div>
                    <div class="tg-description">
                        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <p>Electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
    <!--************************************
            About Us End
    *************************************-->
   
</main>
<!--************************************
        Main End
*************************************-->
@Html.Partial("_footer") 


