@Html.Partial("_loader_nav") 
<!--************************************
                Inner Banner Start
        *************************************-->
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../Content/images/parallax/img_d.jpg">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Destinations</h1>
                    <h2>Explore Tours By Destinations</h2>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-content" class="tg-content">
                    <div class="tg-topdestinations">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="tg-topdestination">
                                    <figure>
                                        <a href="pakpackage" class="tg-btnviewall">View All Tours</a>
                                        <a href="pakpackage"><img src="~/Content/images/tours/img-015.jpg" alt="image description"></a>
                                        <figcaption>
                                            <h2><a href="pakpackage">Pakistan</a></h2>
                                            <span class="tg-totaltours">30 Tours</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="tg-topdestination">
                                    <figure>
                                        <a href="parispackage" class="tg-btnviewall">View All Tours</a>
                                        <a href="parispackage"><img src="~/Content/images/tours/img-016.jpg" alt="image description"></a>
                                        <figcaption>
                                            <h2><a href="parispackage">Paris</a></h2>
                                            <span class="tg-totaltours">30 Tours</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="tg-topdestination">
                                    <figure>
                                        <a href="swipackage" class="tg-btnviewall">View All Tours</a>
                                        <a href="swipackage"><img src="~/Content/images/tours/img-018.jpg" alt="image description"></a>
                                        <figcaption>
                                            <h2><a href="swipackage">Switzerland</a></h2>
                                            <span class="tg-totaltours">30 Tours</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--************************************
        Main End
*************************************-->

@Html.Partial("_footer") 
	

