@Html.Partial("_loader_nav")
<!--************************************
                Inner Banner Start
        *************************************-->
<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../Content/images/parallax/bgparallax-666.jpg">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Paris Tours</h1>
                    <h2>Life Is Very Beautiful Enjoy Every Aspects Of It.</h2>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout tg-bglight">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-left">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-listing tg-listingvsix">
                            <div class="tg-populartour tg-populartourvtwo">
                                <figure>
                                    <img src="~/Content/images/tours/paris/pr1.jpg" alt="image destinations">
                                </figure>
                                <div class="tg-populartourcontent">
                                    <div class="tg-populartourtitle">
                                        <h3>Basilique Paris</h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Etiam porta sem malesuada magna mollis euismod.</p>
                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet...</p>
                                    </div>
                                    <div class="tg-populartourfoot">
                                        <div class="tg-durationrating">
                                            <span class="tg-tourduration">7 Days</span>
                                            <span class="tg-stars"><span></span></span>
                                            <em>(3 Review)</em>
                                        </div>
                                        <ul class="tg-likeshare">
                                            <li class="tg-shareicon">
                                                <a href="javascript:void(0);"><i class="icon-share-button-outline"></i><span>share</span></a>
                                                <ul class="tg-share">
                                                    <li><a href="javascript:void(0);"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-pinterest"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0);"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tg-priceavailability">
                                        <div class="tg-availhead">
                                            <time datetime="2017-12-12">Availability : Jan 16’ - Dec 16’</time>
                                        </div>
                                        <div class="tg-pricearea">
                                            <span>From</span>
                                            <h4>Rs 1,80,000</h4>
                                        </div>
                                        <a class="tg-btn" href="prb1"><span>Explore Tour</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tg-populartour tg-populartourvtwo">
                                <figure>
                                    <img src="~/Content/images/tours/paris/pr2.jpg" alt="image destinations">
                                </figure>
                                <div class="tg-populartourcontent">
                                    <div class="tg-populartourtitle">
                                        <h3>Flame of Liberty Paris</h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Etiam porta sem malesuada magna mollis euismod.</p>
                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet...</p>
                                    </div>
                                    <div class="tg-populartourfoot">
                                        <div class="tg-durationrating">
                                            <span class="tg-tourduration">7 Days</span>
                                            <span class="tg-stars"><span></span></span>
                                            <em>(3 Review)</em>
                                        </div>
                                        <ul class="tg-likeshare">
                                            <li class="tg-shareicon">
                                                <a href="#"><i class="icon-share-button-outline"></i>share</a>
                                                <ul class="tg-share">
                                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tg-priceavailability">
                                        <div class="tg-availhead">
                                            <time datetime="2017-12-12">Availability : Jan 16’ - Dec 16’</time>
                                        </div>
                                        <div class="tg-pricearea">
                                            <span>From</span>
                                            <h4>Rs 1,50,000</h4>
                                        </div>
                                        <a class="tg-btn" href="prb2"><span>Explore Tour</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tg-populartour tg-populartourvtwo">
                                <figure>
                                    <img src="~/Content/images/tours/paris/pr3.jpg" alt="image destinations">
                                </figure>
                                <div class="tg-populartourcontent">
                                    <div class="tg-populartourtitle">
                                        <h3>Montmartre Man in the Wall  Paris</h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Etiam porta sem malesuada magna mollis euismod.</p>
                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet...</p>
                                    </div>
                                    <div class="tg-populartourfoot">
                                        <div class="tg-durationrating">
                                            <span class="tg-tourduration">7 Days</span>
                                            <span class="tg-stars"><span></span></span>
                                            <em>(3 Review)</em>
                                        </div>
                                        <ul class="tg-likeshare">
                                            <li class="tg-shareicon">
                                                <a href="javascript:void(0);"><i class="icon-share-button-outline"></i><span>share</span></a>
                                                <ul class="tg-share">
                                                    <li><a href="javascript:void(0);"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-pinterest"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0);"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tg-priceavailability">
                                        <div class="tg-availhead">
                                            <time datetime="2017-12-12">Availability : Jan 16’ - Dec 16’</time>
                                        </div>
                                        <div class="tg-pricearea">
                                            <span>From</span>
                                            <h4>Rs 1,70,000</h4>
                                        </div>
                                        <a class="tg-btn" href="prb3"><span>Explore Tour</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tg-populartour tg-populartourvtwo">
                                <figure>
                                    <img src="~/Content/images/tours/paris/pr4.jpg" alt="image destinations">
                                </figure>
                                <div class="tg-populartourcontent">
                                    <div class="tg-populartourtitle">
                                        <h3>Eiffel tower, Paris</h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Etiam porta sem malesuada magna mollis euismod.</p>
                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet...</p>
                                    </div>
                                    <div class="tg-populartourfoot">
                                        <div class="tg-durationrating">
                                            <span class="tg-tourduration">7 Days</span>
                                            <span class="tg-stars"><span></span></span>
                                            <em>(3 Review)</em>
                                        </div>
                                        <ul class="tg-likeshare">
                                            <li class="tg-shareicon">
                                                <a href="javascript:void(0);"><i class="icon-share-button-outline"></i><span>share</span></a>
                                                <ul class="tg-share">
                                                    <li><a href="javascript:void(0);"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-pinterest"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0);"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tg-priceavailability">
                                        <div class="tg-availhead">
                                            <time datetime="2017-12-12">Availability : Jan 16’ - Dec 16’</time>
                                        </div>
                                        <div class="tg-pricearea">
                                            <span>From</span>
                                            <h4>Rs 1,20,500</h4>
                                        </div>
                                        <a class="tg-btn" href="prb4"><span>Explore Tour</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tg-populartour tg-populartourvtwo">
                                <figure>
                                    <img src="~/Content/images/tours/paris/pr5.jpg" alt="image destinations">
                                </figure>
                                <div class="tg-populartourcontent">
                                    <div class="tg-populartourtitle">
                                        <h3>Sewers-of-Paris</h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Etiam porta sem malesuada magna mollis euismod.</p>
                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet...</p>
                                    </div>
                                    <div class="tg-populartourfoot">
                                        <div class="tg-durationrating">
                                            <span class="tg-tourduration">7 Days</span>
                                            <span class="tg-stars"><span></span></span>
                                            <em>(3 Review)</em>
                                        </div>
                                        <ul class="tg-likeshare">
                                            <li class="tg-shareicon">
                                                <a href="javascript:void(0);"><i class="icon-share-button-outline"></i><span>share</span></a>
                                                <ul class="tg-share">
                                                    <li><a href="javascript:void(0);"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="javascript:void(0);"><i class="icon-pinterest"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0);"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tg-priceavailability">
                                        <div class="tg-availhead">
                                            <time datetime="2017-12-12">Availability : Jan 16’ - Dec 16’</time>
                                        </div>
                                        <div class="tg-pricearea">
                                            <span>From</span>
                                            <h4>Rs 1,60,000</h4>
                                        </div>
                                        <a class="tg-btn" href="prb5"><span>Explore Tour</span></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!--************************************
        Main End
*************************************-->
@Html.Partial("_footer")
